<h2>Produtos</h2>

<div class="error" *ngIf="error">{{ error }}</div>

<div class="form-wrapper">
  <h3>{{ editingId ? 'Editar Produto' : 'Novo Produto' }}</h3>

  <form [formGroup]="form" (ngSubmit)="salvar()">
    <div class="form-group">
      <label>Código</label>
      <input formControlName="codigo" />
    </div>

    <div class="form-group">
      <label>Nome</label>
      <input formControlName="nome" />
    </div>

    <div class="form-group">
      <label>Categoria</label>
      <input formControlName="categoria" />
    </div>

    <div class="form-group">
      <label>Quantidade em estoque</label>
      <input type="number" formControlName="quantidadeEstoque" />
    </div>

    <div class="form-group">
      <label>Preço unitário</label>
      <input type="number" step="0.01" formControlName="precoUnitario" />
    </div>

    <button type="submit">Salvar</button>
    <button type="button" (click)="novo()">Limpar</button>
  </form>
</div>

<h3>Lista de Produtos</h3>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Código</th>
    <th>Nome</th>
    <th>Categoria</th>
    <th>Qtd</th>
    <th>Preço</th>
    <th>Ações</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of produtos">
    <td>{{ p.id }}</td>
    <td>{{ p.codigo }}</td>
    <td>{{ p.nome }}</td>
    <td>{{ p.categoria }}</td>
    <td>{{ p.quantidadeEstoque }}</td>
    <td>{{ p.precoUnitario | currency:'BRL':'symbol':'1.2-2' }}</td>
    <td>
      <button (click)="editar(p)">Editar</button>
      <button (click)="excluir(p)">Excluir</button>
    </td>
  </tr>
  </tbody>
</table>
